
window.scroll {
    behavior: 'smooth'
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper {
    height: 100vh;
    background: #DDD;
    border-bottom: 1px solid black;
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
