
/* NAVBAR */

#navbar {
    position: fixed;
    top: 0;
    left: -13rem;
    bottom: 0;
    transition: left .8s;
    width: 15rem
}

#navbar:hover {
    left: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #CCC;

}

.navbar-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: stretch; */
    /* align-content: stretch;     */
}

.navbar-header, .navbar-button {
    text-decoration: none;
    padding: 1rem 2.5rem;
    /* background: blue; */
    width: 100%;
    text-align: right;
}

/* CONTENT */

.content-wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    /* background: #DDD; */
    border-bottom: 1px solid black;
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}

/* PARALLAX */

body {
    background-image: url('assets/Space.jpg');
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    perspective: 1px;
    transform: translateZ(-1px);
}

/* LANDING */

#landing {
    /* background-image: url('assets/Bike.jpg'); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
}

/* SKILLS */

.icon-wrapper {
    font-size: 3rem;
    display: flex;
    flex-flow: column wrap;
}

.icon-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.icon-box p {
    font-size: 1.25rem;
}
