
/* NAVBAR */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 3rem; */
    background: #CCC;

}

.navbar-header, .navbar-button {
    text-decoration: none;
    padding: 1rem;
}

/* CONTENT */

.content-wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    background: #DDD;
    border-bottom: 1px solid black;
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}

/* SKILLS */

.icon-wrapper {
    font-size: 3rem;
    display: flex;
    flex-flow: column wrap;
}

.icon-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.icon-box p {
    font-size: 1.25rem;
}
